<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="backgroundTheme">
        <img class="imageLogin" src="./assets/mapa1.PNG" width="100%" height="100%"/>
      </div>
    <div class="backgroundDiv">
       <ion-button color="secundary">
        <ion-icon class="war" name="warning"></ion-icon> <ion-icon class="loc" name="locate"></ion-icon> <ion-icon class="roc" name="rocket"></ion-icon>
       </ion-button>
    </div>
</ion-content>
