<ion-header>
  <ion-toolbar>
    <ion-title>Que mira lok@</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-img src="https://cdn.dribbble.com/users/2648025/screenshots/5435667/freepik2_2x.jpg"></ion-img>
  </ion-card>
  <ion-card>
    <form (ngSubmit)=login(forma) #forma="ngForm"> 
      <ion-item>
        <ion-input ngModel #user="ngModel" name="user" minlength="3" placeholder="Usuario"></ion-input> 
        <ion-icon slot="end" color="dark" name="logo-ionitron"> </ion-icon>
      </ion-item>  
      <ion-item>
        <ion-input ngModel #password="ngModel" name="password" minlength="3" placeholder="Contraseña"></ion-input>
        <ion-icon slot="end" color="dark" name="lock"></ion-icon>
    </ion-item>
      <ion-button expand="block" type="submit" [disabled]=!forma.valid >Ingresar</ion-button>
    </form>
  </ion-card>
</ion-content>
