.backgroundTheme{
    background-color: rgb(163, 122, 182);
    text-align: center;
    height: 100%;
    padding: 40px 1px;
}

.imageLogin{
    text-align: center;
    padding:  10px 10px ;
}

.invitado{
    color: white;
    background-color:#4c245f;
}

.boton2{
    color: white;
    background-color:#4c245f;
    margin: 20px 20px;
}
.cardi{
    height:70%;
}
