<ion-header>
  <ion-toolbar>
    <ion-title>Que mira lok@</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-img src="https://cdn.dribbble.com/users/2648025/screenshots/5435667/freepik2_2x.jpg"></ion-img>
  </ion-card>
  <ion-card>
    <ion-input placeholder="Usuario">|<ion-icon slot="start" color="dark" name="logo-ionitron"> </ion-icon></ion-input> 
    <ion-input placeholder="Contraseña"><ion-icon slot="start" color="dark" name="lock"></ion-icon></ion-input>
    <ion-button expand="block" [routerLink]="['/home/tabs/tab1']" >Ingresar</ion-button>
  </ion-card>
</ion-content>
