.backgroundTheme{
    background-color: rgb(163, 122, 182);
    text-align: center;
    height: 100%;
    padding: 40px 1px;
}
.imageLogin{
    text-align: center;
    padding:  5px 10px ;
}
.text{
    color:black;
}
.registrar{
padding: 10px 10px 10px 10px;
height:15%;

}
.cardi{
height:70%;
}